.containerT {
    background-color: #800020; /* Color vino */
    color: white; /* Color de texto blanco */
    padding: 20px;
    border: 2px solid black; /* Borde negro */
    position: relative;
    max-width: 400px;
  }
  
  h1 {
    font-size: 48px;
  }
  
  img {
    position: absolute;
    top: -20px; /* Ajusta la posición vertical de la imagen */
    left: -20px; /* Ajusta la posición horizontal de la imagen */
    width: 50px;
    height: 50px;
  }
  
  p {
    margin: 10px 0;
  }